My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d5a7f6f6-5a17-4a7c-8b07-155542252a9c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/document/d/11bTCNmh0KHDuePmnpsIW9-mVvaX7eLnOOMqRNwZ7vGA/export?format=txt",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "aa3efd58-7fb0-496f-be96-c78a9b57a023",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6da2967b-5f3f-41f2-a71f-2086e7645dc1",
              "name": "resumeText",
              "value": "={{$json[\"data\"] || $json[\"body\"] || $json}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "a893d87c-88a6-4ebf-9483-51e65b6ef86d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u8ihxGuFeDLq_tr0aBUAbMKReEZ4y8WXuf-nzirbYL8",
          "mode": "list",
          "cachedResultName": "Job Search N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u8ihxGuFeDLq_tr0aBUAbMKReEZ4y8WXuf-nzirbYL8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Filter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u8ihxGuFeDLq_tr0aBUAbMKReEZ4y8WXuf-nzirbYL8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "a1950c9c-f5a9-4d7b-8886-3611de08192e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2JhpBkdTD22ZEaOE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let url = \"https://www.linkedin.com/jobs/search/?f_TPR=r86400\"\n\nconst Keyword = $input.first().json.Keyword\nconst Location = $input.first().json.Location\nconst Experience = $input.first().json['Experience Level']\nconst Remote = $input.first().json.Remote\nconst JobType = $input.first().json['Job Type']\nconst EasyApply = $input.first().json['Easy Apply']\n\nif (Keyword != \"\") {\n  url += `&Keyword=${Keyword}`;\n}\n\nif (Location != \"\") {\n  url += `&Location=${Location}`;\n}\n\n\nif (Experience !== \"\") {\n  const transformedExperiences = Experience\n    .split(\",\")\n    .map((exp) => {\n      switch (exp.trim()) {\n        case \"Intern\": return \"1\";\n        case \"Entry Level\": return \"2\";\n        case \"Associate\": return \"3\";\n        case \"Mid-Senior level\": return \"4\";\n        case \"Director\": return \"5\";\n        case \"Executive\": return \"6\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_E=${transformedExperiences.join(\",\")}`;\n}\n\nif (Remote.length != \"\") {\n  // Transform remote options to LinkedIn codes\n  // On-Site -> 1, Remote -> 2, Hybrid -> 3\n  const transformedRemote = Remote\n    .split(\",\")\n    .map((e) => {\n      switch (e.trim()) {\n        case \"Remote\": return \"2\";\n        case \"Hybrid\": return \"3\";\n        case \"On-Site\": return \"1\";\n        default: return \"\";\n      }\n    })\n    .filter(Boolean);\n  url += `&f_WT=${transformedRemote.join(\",\")}`;\n}\n\nif (JobType != \"\") {\n  // Transform job types to LinkedIn codes\n  // Full-time -> F, Part-time -> P, Contract -> C, etc.\n  const transformedJobType = JobType\n    .split(\",\")\n    .map((type) => type.trim().charAt(0).toUpperCase());\n  url += `&f_JT=${transformedJobType.join(\",\")}`;\n}\n\nif (EasyApply != \"\") {\n  url += \"&f_EA=true\";\n}\n\nreturn {url}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "4a59bfda-cd87-47df-950c-0427219bb1e1",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        0
      ],
      "id": "bd956118-d083-4aae-a808-aec0b849e97c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1248,
        0
      ],
      "id": "86fd1771-a686-4909-9346-b32bdc3b5f17",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1456,
        0
      ],
      "id": "4e0e2839-98ca-4d1a-821e-970460e0603f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1664,
        0
      ],
      "id": "393e1e7c-8b38-41d2-ada9-133c303574f9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1904,
        16
      ],
      "id": "cf143c9e-a177-478d-9d9d-3bf657e17144",
      "name": "Wait",
      "webhookId": "d39dee10-5837-4a70-ad38-38cf29f194ee"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        16
      ],
      "id": "8044f57f-a5ab-4d8a-a717-9d45675f7c7d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "h1.top-card-layout__title"
            },
            {
              "key": "Company ",
              "cssSelector": "a.topcard__org-name-link"
            },
            {
              "key": "location",
              "cssSelector": "span.topcard__flavor.topcard__flavor--bullet"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']\t",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2320,
        16
      ],
      "id": "e10c6043-c5fc-49b9-8e33-86c7d0152b38",
      "name": "HTML1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25a546c8-6711-4060-bb71-b6dd9f344037",
              "name": "description",
              "value": "={{ $json.description.replaceAll(/\\s+/g, \" \") }}",
              "type": "string"
            },
            {
              "id": "27c2917c-53a3-49a3-956f-93f50114405e",
              "name": "JobID",
              "value": "={{ $json.jobid.split(\":\").last() }}",
              "type": "string"
            },
            {
              "id": "f69efae9-bb9b-4ebe-a005-458bdbe1d247",
              "name": "applyLink",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\"+ $json.jobid.split(\":\").last() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        16
      ],
      "id": "45f28ef3-3880-4374-b0fb-65c0d93f71ea",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that helps match candidates to job opportunities. Your task is to review my resume, then analyze both the resume and job description to calculate a job matching score. Additionally, create a cover letter based on my resume and the job description. The cover letter should contain at least 2 paragraphs and should exclude the name, address, and signature sections from the beginning and end.\n\nWhen using special characters like quotation marks (\"), ensure they are properly escaped with a backslash. The output must be formatted as valid JSON that can be parsed without errors.\n\nFor example your response should be like: {\"score\": 80, \"coverLetter\": \"sample cover letter\" }\n\njob_description: {{ $json.description }}\nmy_resume: {{ $('Edit Fields').item.json.resumeText }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2720,
        16
      ],
      "id": "1988c841-cd15-4123-a6f5-7686a56ab029",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2720,
        192
      ],
      "id": "703faa6a-27a2-4623-a953-cc1561fca635",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "e9T8Fj1Pe0G3vCwJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output.replaceAll(/```(?:json)?/g, \"\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3056,
        16
      ],
      "id": "628f3589-54fa-4e4f-b63d-e7ed25546ea9",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1u8ihxGuFeDLq_tr0aBUAbMKReEZ4y8WXuf-nzirbYL8",
          "mode": "list",
          "cachedResultName": "Job Search N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u8ihxGuFeDLq_tr0aBUAbMKReEZ4y8WXuf-nzirbYL8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1973218802,
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u8ihxGuFeDLq_tr0aBUAbMKReEZ4y8WXuf-nzirbYL8/edit#gid=1973218802"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $('Edit Fields1').item.json.applyLink }}",
            "Title": "={{ $('Edit Fields1').item.json.title }}",
            "Company": "={{ $('Edit Fields1').item.json['Company '] }}",
            "Location": "={{ $('Edit Fields1').item.json.location }}",
            "description": "={{ $('Edit Fields1').item.json.description }}",
            "score": "={{ $json.score }}",
            "cover letter": "={{ $json.coverLetter }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cover letter",
              "displayName": "cover letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3264,
        16
      ],
      "id": "554a47db-7d04-4fd0-b189-fceb4af2ac58",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2JhpBkdTD22ZEaOE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5679e77b-7a00-4858-870c-f435f69022cd",
              "leftValue": "={{ $json.score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3488,
        208
      ],
      "id": "897ce782-8bad-43b1-8608-5fc5acdbd8c8",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "5442609372",
        "text": "=Title: {{ $json.Title }} \nCompany: {{ $json.Company }}\nLocation: {{ $json.Location }}\nJob Score: {{ $json.score }} \nApply: {{ $json.Link }}\nCopy Cover Letter from here - {{ $json['cover letter'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3808,
        352
      ],
      "id": "0bf4155d-ffe4-4dce-a877-7616474d3e93",
      "name": "Send a text message",
      "webhookId": "acab53fa-768f-401b-9b87-9339a8c937e4",
      "credentials": {
        "telegramApi": {
          "id": "v0I9uyxSaT3krDjq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "errorWorkflow": "ACXx5TNT0IMbsfCh"
  },
  "versionId": "bd0acf25-91bd-4721-a468-309c40d81900",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "212510187fdbe1cf265cdeb9b484842a1af6e3c1e78d2e61110e38da528ac611"
  },
  "id": "ACXx5TNT0IMbsfCh",
  "tags": []
}